<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cards Overview</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body class="card-background">
    <%- include('_navbar') %>
    <header>
        <h1>Card and Character Viewer</h1>
    <form action="/cards" method="GET">
        <input type="text" name="search" placeholder="Search by name..." value="<%= searchQuery || '' %>">
        
        <label for="sortField">Sort by:</label>
        <select name="sortField" id="sortField">
            <option value="name" <% if(sortField === 'name') { %>selected<% } %>>Name</option>
            <option value="release_date" <% if(sortField === 'release_date') { %>selected<% } %>>Release Date</option>
            <option value="attack_points" <% if(sortField === 'attack_points') { %>selected<% } %>>Attack Points</option>
            <option value="defence_points" <% if(sortField === 'defence_points') { %>selected<% } %>>Defence Points</option>
            <!-- Add other sort fields as needed -->
        </select>
    
        <label for="sortOrder">Order:</label>
        <select name="sortOrder" id="sortOrder">
            <option value="asc" <% if(sortOrder === 'asc') { %>selected<% } %>>Ascending</option>
            <option value="desc" <% if(sortOrder === 'desc') { %>selected<% } %>>Descending</option>
        </select>
    
        <button type="submit">Update</button>
    </form>
    </header>
    <main>
    <h2>Cards</h2>
    <table>
        <thead>
            <tr>
              <th><a href="/cards?sortField=name&sortOrder=<%= sortOrder === 'asc' && sortField === 'name' ? 'desc' : 'asc' %>">Name</a></th>
              <th>Description</th>
              <th><a href="/cards?sortField=attack_points&sortOrder=<%= sortOrder === 'asc' && sortField === 'attack_points' ? 'desc' : 'asc' %>">Attack Points</a></th>
              <th><a href="/cards?sortField=defence_points&sortOrder=<%= sortOrder === 'asc' && sortField === 'defence_points' ? 'desc' : 'asc' %>">Defence Points</a></th>
              <th><a href="/cards?sortField=type&sortOrder=<%= sortOrder === 'asc' && sortField === 'type' ? 'desc' : 'asc' %>">Type</a></th>
              <th>More Information</th>
            </tr>
          </thead>
          <tbody>
            <% cards.forEach(card => { %>
              <tr>
                <td><%= card.name %></td>
                <td><%= card.description %></td>
                <td><%= card.attack_points %></td>
                <td><%= card.defence_points %></td>
                <td>
                  <span class="<%= 'type-' + card.type.toLowerCase().replace(/\s+/g, '-') %>">
                    <%= card.type %>
                  </span>
                </td>
                <td><a href="/cards/<%= card._id %>">View Details</a></td>
              </tr>
            <% }) %>
          </tbody>
    </table>
    </main>
</body>
</html>
